.main-anatylics {
    background-color: #e2e2f3;
}

.main-anatylics > .columns > .column {
    padding: 10px;
    color: blueviolet;
    text-align: center;
}

.expenses-trend {
    height: 70vh;
    overflow: auto;
}

.expenses-trend h5 {
    font-family: cursive;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

.monthly-expense-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recharts-wrapper {
    margin: 0 auto;
}
