.container {
    max-width: 100%;
}

.add-btn {
    padding: 10px;
    text-align: center;
}

.loading .DateRangePicker {
    opacity: 0;
}

.loading .form-input {
    opacity: 0;
}

.DateInput_input::placeholder {
    color: #bcc3ce;
    opacity: 1;
}
