.container {
    max-width: 100%;
}

.add-btn {
    padding: 10px;
    text-align: center;
}

.panel {
    min-width: 350px;
}

.tile-subtitle {
    min-height: 36px;
}

.loading .DateRangePicker {
    opacity: 0;
}

.DateInput_input::placeholder {
    color: #bcc3ce;
    opacity: 1;
}
