body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#root {
    position: fixed;
    width: 100%;
    height: 100%;
}

.navbar {
    background-color: #e2e2f3;
}

.form_income {
    position: absolute;
    top: 100px;
    right: 100px;
}

.form_expense {
    position: absolute;
    top: 400px;
    right: 100px;
}
