.login-page {
    height: 100vh;
    padding: 20vh 10px;
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
    background: linear-gradient(to right, #49a09d, #5f2c82);
}

.form {
    background: rgb(252, 252, 252);
    max-width: 360px;
    margin: 0 auto;
    padding: 45px 45px 20px 45px;
    box-shadow: 0 0 20px 0 rgba(95, 44, 130, 0.2), 0 5px 5px 0 rgba(95, 44, 130, 0.24);
}

.form input {
    margin: 0 0 15px;
}

.form button {
    text-transform: capitalize;
    width: 100%;
    cursor: pointer;
}

.form .link {
    margin-top: 25px;
}
