.login-page {
    height: 100%;
    width: 100%;
    position: relative;
    background: #5f2c82;
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
    background: linear-gradient(to right, #49a09d, #5f2c82);
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(252, 252, 252);
    width: 360px;
    padding: 45px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px 0 rgba(95, 44, 130, 0.2), 0 5px 5px 0 rgba(95, 44, 130, 0.24);
}

.form input {
    margin: 0 0 15px;
}

.form button {
    text-transform: capitalize;
    width: 100%;
    cursor: pointer;
}

.form .link {
    margin-top: 25px;
}
