.header-transaction {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

.header-transaction>.btn-action {
    margin: 0 20px;
}

.expense-border {
    border-left: 5px solid #e767a0;
}

.income-border {
    border-left: 5px solid #0ec99d;
}

.table-transactions {
    margin: 0 20px;
}

.table-transactions tbody,
.table-transactions thead {
    display: block;
}

.table-transactions tbody {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
}

.table-transactions tbody td,
.table-transactions thead th {
    width: 400px;
    border: none;
}

.table-transactions .popover-transaction {
    width: 30px;
    padding: 0;
}

.popover {
    height: 49px;
}

.popover>.icon-more-vert {
    height: 100%;
}

.editing-transaction {
    display: flex;
    justify-content: space-around;
}

.table td.category-transaction,
.table th.category-transaction {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.date-transaction {
    display: flex;
}

.date-transaction>select {
    margin-left: 20px;
}

.pagination {
    width: 300px;
    margin: 10px auto;
}

.pagination>.page-item>a:hover {
    background: #5755d9;
    color: #fff;
}

.clear-date {
    position: absolute;
    right: 30px;
}

.popover-date {
    padding: 0 10px;
    height: 14px;
}

.view-date {
    padding: 0 5px;
}
